# EcoFOCIpy simple ERDDAP example

The simple erddap wrapper here is to accelerate the retrieval of a single profile from a cruise.  You will need to already know:
- url to the erddap service (http://akutan.pmel.noaa.gov:8080/erddap or http://ecofoci-field.pmel.noaa.gov:8080/erddap is the internal resource
- cruiseid (e.g. dy2103)
- consecutive cast number (e.g. ctd001)
- qc level (final or preliminary)

Much of this above requirements can be found by exploring the web interface for this erddap

In [1]:
import EcoFOCIpy.io.erddap as erddap

In [2]:
url = "http://akutan.pmel.noaa.gov:8080/erddap"

In [3]:
erddap.test_erddap_connection(url=url) #basic test for connection to internal server, no response is a good thing

In [4]:
erddap.erddapCTDretrieve(url=url,cruiseid='dy1908',qclevel='final')

,time (UTC),pressure (dbar),latitude (degrees_north),longitude (degrees_east),BTL_103,S_42 (PSU),S_41 (PSU),ST_70 (kg m-3),Fch_906 (ugrams/l),T_28 (degree_C),...,O_65 (umol/kg),T2_35 (degree_C),Tr_904 (percent),Water_Depth (dbar),air_pressure_at_sealevel (mbar),wind_direction (degrees),wind_speed (m s-1),air_temperature (degree_C),Station_Name,profile_id
0,2019-09-20T10:05:40Z,0.0,56.766834,195.66083,NaN,31.6482,31.6507,24.014404,NaN,11.8617,...,272.99920,11.8618,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
1,2019-09-20T10:05:40Z,1.0,56.766834,195.66083,NaN,31.6482,31.6507,24.014404,NaN,11.8617,...,272.99920,11.8618,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
2,2019-09-20T10:05:40Z,2.0,56.766834,195.66083,NaN,31.6482,31.6507,24.014404,NaN,11.8617,...,272.99920,11.8618,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
3,2019-09-20T10:05:40Z,3.0,56.766834,195.66083,NaN,31.6482,31.6507,24.014404,NaN,11.8617,...,272.99920,11.8618,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
4,2019-09-20T10:05:40Z,4.0,56.766834,195.66083,NaN,31.6482,31.6507,24.014404,NaN,11.8617,...,272.99920,11.8618,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
66,2019-09-20T10:05:40Z,66.0,56.766834,195.66083,NaN,31.9244,31.9244,25.273193,NaN,4.6663,...,223.19179,4.6670,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
67,2019-09-20T10:05:40Z,67.0,56.766834,195.66083,NaN,31.9244,31.9244,25.273315,NaN,4.6658,...,223.07658,4.6666,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
68,2019-09-20T10:05:40Z,68.0,56.766834,195.66083,NaN,31.9244,31.9244,25.273315,NaN,4.6657,...,223.12744,4.6667,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
69,2019-09-20T10:05:40Z,69.0,56.766834,195.66083,NaN,31.9244,31.9244,25.273438,NaN,4.6651,...,222.93956,4.6658,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd
70,2019-09-20T10:05:40Z,70.0,56.766834,195.66083,NaN,31.9244,31.9244,25.273315,NaN,4.6659,...,223.08073,4.6666,NaN,74.0,NaN,NaN,NaN,NaN,NaN,dy1908c001_ctd